@use "../../styles/colors" as color;

:host {
  display: block;
  width: max-content;

  .logout-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border-radius: 100%;
    background: color.$main-color-1;
    cursor: pointer;

    img {
      width: 20px;
      height: auto;
    }
  }
}
